@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can add new books, edit all books currently existing in the database, and also delete them.</p>
    <p>Get started by viewing all books currently <a asp-controller="Books" asp-action="Index">added to this site</a>.</p>
    <p>ALSO: By using this site, you agree to our privacy policy. You can view them <a asp-controller="Home" asp-action="Privacy">here</a>.</p>
</div>