@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can add new movies, using the <a href="https://www.imdb.com/">Internet Movie Database</a> as a reference.</p>
    <p>Get started by viewing all Movies currently <a asp-controller="Movies" asp-action="Index">added to this site</a>.</p>
    <p>ALSO: By using this site, you agree to our privacy policy. You can view them <a asp-controller="Home" asp-action="Privacy">here</a>.</p>
</div>
